﻿
@{
    ViewBag.Title = "DataMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/DataMaintenance.js")
    <script src="~/Custom_Script/dist/js/Validation.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#txtDateOfBirth").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getYear());
                    $("#txtDateOfJoin").datepicker("option", "minDate", dt);
                }
            });
            $("#txtDateOfJoin").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getYear() - 365);
                    $("#txtDateOfBirth").datepicker("option", "maxDate", dt);
                }
            });
            //$(document).ready(function () {
            //    $('#txtDateofBirth').datepicker({
            //        changeMonth: true,
            //        changeYear: true,
            //        dateFormat: "dd-mm-yy",
            //        yearRange: "-100:+10"
            //    });
            //});
        });
        //function validate(date) {
        //    var eighteenYearsAgo = moment().subtract(18, "years");
        //    var birthday = moment(date);

        //    if (!birthday.isValid()) {
        //        return "invalid date";
        //    }
        //    else if (eighteenYearsAgo.isAfter(birthday)) {
        //        return "okay, you're good";
        //    }
        //    else {
        //        return "sorry, no";
        //    }
        //}
        function DobDojchecker() {

            var DOB = document.getElementById("txtDateOfBirth").value;

            var DOJ = document.getElementById("txtDateOfJoin").value;

            var age = DOJ - DOB;

            if (age < 18) {

                alert('min is more than max');
            }
        }
    </script>

    @section MyScripts {
        <script type="text/javascript">

            $(document).ready(function () {

            });
            $(".openpopup").click(function () {
                $('#myModal').modal('show');
            });
            //Date range picker
            $('#AdvanceMonthDate').datetimepicker({
                format: '01/MM/YYYY'
            });
            $('#TransactionFromMonth').datetimepicker({
                format: '01/MM/YYYY'
            });
            $('#LoanMonthDate').datetimepicker({
                format: '01/MM/YYYY'
            });
            $('#TransactionFromMonthLoan').datetimepicker({
                format: '01/MM/YYYY'
            });

        </script>
    }
    <link href="~/Custom_Script/dist/css/Select2Search.css" rel="stylesheet" />
    <script src="~/Custom_Script/dist/js/Select2Search.js"></script>
</head>
<body>

    <input type="hidden" id="hdn_lang" name="hdn_lang" value="@Session["LangType"]" />
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    <div class="container-fluid">
        @if (Session["LangType"].ToString() == "A")
        {
            <h2>@IntegratedAttendanceSystem.Resources.Language.DataMaintenance</h2>
        }
        else
        {
            <h2>Data Maintenance</h2>
        }
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Employee Information</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus">Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="dllEmployeeCode">Employee Code</label>
                                    <select class="myselect" style="width: 100%;" id="dllEmployeeCode"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtEnrollmentCode">Enrollment Code</label>
                                    <input type="text" class="form-control" id="txtEnrollmentCode" disabled="disabled" placeholder="Enrollment Code">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtCompany">Company</label>
                                    <input type="text" class="form-control" id="txtCompany" disabled="disabled" placeholder="Company">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtDepartment">Department</label>
                                    <input type="text" class="form-control" id="txtDepartment" disabled="disabled" placeholder="Department">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtCategory">Category</label>
                                    <input type="text" class="form-control" id="txtCategory" disabled="disabled" placeholder="Category">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="lblIsRTC"> </label>
                                    <div class="checkbox">
                                        <label disabled="disabled"><input type="checkbox" id="chkIsRTC" name="chkRTC" checked="checked" disabled="disabled"/>   Is Round The Clock Working</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div><!-- /.container-fluid -->
            </div>
        </section>
        @*<div class="card card-primary">*@
        <div class="form-group">
            <div class="card-header">
                <h3 class="card-title fa-align-center">Attendance Information</h3>
                @*<div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus">Minimize/Maximize</i></button>
                    </div>*@
            </div>
            <div class="card-body">
                <div class="row" style="height:500px">
                    <div id="calender"></div>
                </div>
            </div>
        </div>
        @*</div>*@
        @*<section class="content">
                <div id="calender"></div>
            </section>*@
    </div>

    @*<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <a class="nav-link active" id="ManualPunch-tab" data-toggle="tab" href="#ManualPunch" role="tab" aria-controls="ManualPunch" aria-selected="true">@IntegratedAttendanceSystem.Resources.Language.ManualPunch</a>
                        }
                        else
                        {
                            <a class="nav-link active" id="ManualPunch-tab" data-toggle="tab" href="#ManualPunch" role="tab" aria-controls="ManualPunch" aria-selected="true">ManualPunch</a>
                        }
                    </li>
                    @*<li class="nav-item">
                        @if (Session["LangType"].ToString() == "A")
                        {
                            <a class="nav-link" id="ShiftChange-tab" data-toggle="tab" href="#ShiftChange" role="tab" aria-controls="ShiftChange" aria-selected="false">@IntegratedAttendanceSystem.Resources.Language.ShiftChange</a>
                        }
                        else
                        {
                            <a class="nav-link" id="ShiftChange-tab" data-toggle="tab" href="#ShiftChange" role="tab" aria-controls="ShiftChange" aria-selected="false">Shift Change</a>
                        }
                    </li>*@
                </ul>
                <div class="tab-content" id="DataMaintenanceContent">
                    <div class="tab-pane show active" id="ManualPunch" role="tabpanel" aria-labelledby="ManualPunch-tab">
                        <div class="modal-header">
                            <h4 class="modal-title" style="float:left">Manual Punch</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input type="hidden" id="hdEventID" value="0" />
                                <input type="hidden" id="hdnSSN" value="0" />

                                <div class="row">
                                    @*<div class="col-md-12">*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Paycode</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtPaycode" class="form-control" disabled />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtStatus" class="form-control" disabled />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>In Punch</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtAttIn" class="form-control" placeholder="HH:MM" disabled />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Out Punch</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtAttOut" class="form-control" placeholder="HH:MM" disabled />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>

                                <div class="row">
                                    @*<div class="col-md-12">*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Process Date</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtProcessDate" class="form-control" disabled />
                                                @*<input type="text" id="txtProcessDate" class="form-control datepicker" placeholder="DD/MM/YYYY" onchange="DobDojchecker()" />*@
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Punch Date</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type="text" id="txtAttDate" class="form-control" placeholder="DD/MM/YYYY" disabled />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Punch Time</label>
                                            <div class="input-group date" id="dtp1">
                                                <input type='time' id="txtPunchTime" class="form-control" min='00:00' max='23:59' value="00:00" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>

                                <button type="button" id="btnSave" class="btn btn-success">Post Punch</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                <table class="table table-bordered table-hover table-striped display nowrap" id="tblManualPunch" style="width:100%">
                                    <thead>
                                        <tr>
                                            @*<th id="tblThEdit">
            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
        </th>*@
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Paycode")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Date : "Date")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OfficeIn : "Office In")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchOut : "Lunch Out")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchIn : "Lunch In")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OfficeOut : "Office Out")
                                            </th>
                                            @*<th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LateArrival : "Late Arrival")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EarlyDeparture : "Early Departure")
                                            </th>*@
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.HoursWorked : "Hours Worked")
                                            </th>
                                            <th>
                                                @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody"></tbody>
                                </table>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(".myselect").select2().on('change', function (e) {
            BindEmployeeDetails();
            //var str = $("#s2id_search_code .select2-choice span").text();
            //alert(this.value);
            //this.value
        });
    </script>
</body>
</html>


@*<div id="calender"></div>*@


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        //$(document).ready(function () {
        //    BindEmployeeCodeList();

        //    var events = [];
        //    var Att = [];
        //    var selectedEvent = null;
        //    FetchEventAndRenderCalendar();

        //    function FetchEventAndRenderCalendar() {
        //        events = [];
        //        $.ajax({
        //            type: "GET",
        //            url: "/DataMaintenance/GetEvents",
        //            success: function (data) {
        //                $.each(data, function (i, v) {
        //                    events.push({
        //                        eventID: v.EventID,
        //                        title: v.Subject,
        //                        description: v.Description,
        //                        start: moment(v.Start),
        //                        end: v.End != null ? moment(v.End) : null,
        //                        color: v.ThemeColor,
        //                        allDay: v.IsFullDay
        //                    });
        //                })

        //                GenerateCalender(events);
        //            },
        //            error: function (error) {
        //                alert('failed');
        //            }
        //        })
        //    }


        //    function GenerateCalender(events) {
        //        debugger;
        //        $('#calender').fullCalendar('destroy');
        //        $('#calender').fullCalendar({
        //            contentHeight: 450,
        //            defaultDate: new Date(),
        //            timeFormat: 'h(:mm)a',
        //            header: {
        //                left: 'prev,next today',
        //                center: 'title',
        //                right: 'month,basicWeek,basicDay,agenda'
        //            },
        //            eventLimit: true,
        //            eventColor: '#378006',
        //            events: events,
        //            eventClick: function (calEvent, jsEvent, view) {
        //                selectedEvent = calEvent;
        //                $('#myModal #eventTitle').text(calEvent.title);
        //                var $description = $('<div/>');
        //                $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
        //                if (calEvent.end != null) {
        //                    $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
        //                }
        //                $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
        //                $('#myModal #pDetails').empty().html($description);

        //                $('#myModal').modal();
        //            },
        //            selectable: true,
        //            select: function (start, end) {
        //                selectedEvent = {
        //                    eventID: 0,
        //                    title: '',
        //                    description: '',
        //                    start: start,
        //                    end: end,
        //                    allDay: false,
        //                    color: ''
        //                };
        //                openAddEditForm();
        //                $('#calendar').fullCalendar('unselect');
        //            },
        //            editable: true,
        //            eventDrop: function (event) {
        //                var data = {
        //                    EventID: event.eventID,
        //                    Subject: event.title,
        //                    Start: event.start.format('DD/MM/YYYY HH:mm A'),
        //                    End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
        //                    Description: event.description,
        //                    ThemeColor: event.color,
        //                    IsFullDay: event.allDay
        //                };
        //                SaveEvent(data);
        //            }
        //        })
        //    }

        //    $('#btnEdit').click(function () {
        //        //Open modal dialog for edit event
        //        openAddEditForm();
        //    })
        //    $('#btnDelete').click(function () {
        //        if (selectedEvent != null && confirm('Are you sure?')) {
        //            $.ajax({
        //                type: "POST",
        //                url: '/home/DeleteEvent',
        //                data: { 'eventID': selectedEvent.eventID },
        //                success: function (data) {
        //                    if (data.status) {
        //                        //Refresh the calender
        //                        FetchEventAndRenderCalendar();
        //                        $('#myModal').modal('hide');
        //                    }
        //                },
        //                error: function () {
        //                    alert('Failed');
        //                }
        //            })
        //        }
        //    })

        //    $('#dtp1,#dtp2').datetimepicker({
        //        format: 'DD/MM/YYYY HH:mm A'
        //    });

        //    $('#chkIsFullDay').change(function () {
        //        if ($(this).is(':checked')) {
        //            $('#divEndDate').hide();
        //        }
        //        else {
        //            $('#divEndDate').show();
        //        }
        //    });

        //    function openAddEditForm() {
        //        if (selectedEvent != null) {
        //            $('#hdEventID').val(selectedEvent.eventID);
        //            $('#txtSubject').val(selectedEvent.title);
        //            $('#txtPunchTime').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
        //            $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
        //            $('#chkIsFullDay').change();
        //            $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
        //            $('#txtDescription').val(selectedEvent.description);
        //            $('#ddThemeColor').val(selectedEvent.color);
        //        }
        //        $('#myModal').modal('hide');
        //        $('#myModalSave').modal();
        //    }

        //    $('#btnSave').click(function () {
        //        //Validation/
        //        if ($('#txtSubject').val().trim() == "") {
        //            alert('Subject required');
        //            return;
        //        }
        //        if ($('#txtPunchTime').val().trim() == "") {
        //            alert('Start date required');
        //            return;
        //        }
        //        if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
        //            alert('End date required');
        //            return;
        //        }
        //        else {
        //            var startDate = moment($('#txtPunchTime').val(), "DD/MM/YYYY HH:mm A").toDate();
        //            var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
        //            if (startDate > endDate) {
        //                alert('Invalid end date');
        //                return;
        //            }
        //        }

        //        var data = {
        //            EventID: $('#hdEventID').val(),
        //            Subject: $('#txtSubject').val().trim(),
        //            Start: $('#txtPunchTime').val().trim(),
        //            End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
        //            Description: $('#txtDescription').val(),
        //            ThemeColor: $('#ddThemeColor').val(),
        //            IsFullDay: $('#chkIsFullDay').is(':checked')
        //        }
        //        SaveEvent(data);
        //        // call function for submit data to the server
        //    })

        //    function SaveEvent(data) {
        //        $.ajax({
        //            type: "POST",
        //            url: '/home/SaveEvent',
        //            data: data,
        //            success: function (data) {
        //                if (data.status) {
        //                    //Refresh the calender
        //                    FetchEventAndRenderCalendar();
        //                    $('#myModalSave').modal('hide');
        //                }
        //            },
        //            error: function () {
        //                alert('Failed');
        //            }
        //        })
        //    }

        //    function BindEmployeeCodeList() {
        //        $.ajax({
        //            url: "/DataMaintenance/EmployeecodeList",
        //            async: false,
        //            type: "GET",
        //            contentType: "application/json; charset=utf-8",
        //            datatype: JSON,
        //            success: function (result) {
        //                if (result == "error") {
        //                    alert(errorMsg);
        //                    return false;
        //                }
        //                else {
        //                    var dllEmployeeCode = $('#dllEmployeeCode');
        //                    dllEmployeeCode.empty();
        //                    var hdnlang = $("#hdn_lang").val();
        //                    if (hdnlang == "E") {
        //                        $("#dllEmployeeCode").append($('<option></option>').val("").html("Select Employee Code"));
        //                    }
        //                    else {
        //                        $("#dllEmployeeCode").append($('<option></option>').val("").html("لا شيء"));
        //                    }
        //                    $(result).each(function () {
        //                        $("#dllEmployeeCode").append($("<option></option>").val(this.EmployeeCode + "~" + this.EmployeeName).html(this.EmployeeCode + " " + this.EmployeeName));
        //                    });
        //                    $('#myModal').modal('show');
        //                }
        //            },
        //            error: function (data) { }
        //        });
        //    }


        //})



    </script>

}
<script>
    $("#dllEmployeeCode").change(function () {
        BindEmployeeDetails();
    });
</script>