﻿
@{
    ViewBag.Title = "EmployeeGroupPolicyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

    @Scripts.Render("~/MyCustomScript/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/mycustomscript/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/EmployeeGroupPolicyList.js")
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/jobdescription.js")*@
    @section MyScripts {
        <script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });

            $(function () {
                $("#accordion").accordion();
            });

            $(document).ready(function () {
                //$("#btnAdd").click(function () {
                //    $('#myModal').modal('show');
                //});
            });
        </script>
    }

    @*======== Date Range ============*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
                type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
              rel="Stylesheet" type="text/css" />*@
    <script type="text/javascript">
        $(function () {
            $("#txtFrom").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#txtTo").datepicker("option", "minDate", dt);
                }
            });
            $("#txtTo").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#txtFrom").datepicker("option", "maxDate", dt);
                }
            });
        });
    </script>

    @*======== Date Range ============*@
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    @*<div class="container">
            @if (Session["LangType"].ToString() == "A")
            {
                <h2>@IntegratedAttendanceSystem.Resources.Language.EmployeeGroupPolicyMaster</h2>
            }
            else
            {
                <h2 class="page-header">EmployeeGroupPolicy Master</h2>
            }
        </div>*@

    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeGroupPolicy : "Employee Group Policy" )</h2>

    @*<button type="button" class="btn btn-primary" id="btnAdd" href="@Url.Action("EmployeeGroupPolicyMasterEdit","EmployeeGroupPolicyMaster")">Add New</button><br /><br />*@
    @*<a class="btn btn-primary" id="btnAdd">Add New</a>*@
    @*<input type="button" class="btn btn-primary" id="btnAdd" value="Add New" onclick="location.href='@Url.Action("EmployeeGroupPolicyMasterEdit", "EmployeeGroupPolicyMaster")'" />*@
    
    @if (Session["LangType"].ToString() == "A")
    {
        @*<b>@IntegratedAttendanceSystem.Resources.Language.EmployeeGroupPolicyMaster</b>*@
        <input type="button" class="btn btn-primary" id="btnAdd" value="@IntegratedAttendanceSystem.Resources.Language.AddNew" onclick="location.href='@Url.Action("CreateEmployeeGroupPolicy", "EmployeeGroupPolicy")'" />
    }
    else
    {
        <input type="button" class="btn btn-primary" id="btnAdd" value="Add New" onclick="location.href='@Url.Action("CreateEmployeeGroupPolicy", "EmployeeGroupPolicy")'" />
    }

    <table class="table table-bordered table-hover table-striped display nowrap" id="tblEmployeeGroupPolicy" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "EDIT" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "DELETE" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupID : "Group ID" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupName : "Group Name" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermissibleLateArrival : "Permissible Late Arrival" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermissibleEarlyDeparture : "Permissible Early Departure" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingHourInADay : "Maximum Working Hour In A Day" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsRoundTheClockWork : "Is Round The Clock Work" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ConsiderTimeLoss : "Consider Time Loss" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsHalfDay : "Is Half Day" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsSortLeave: "Is Sort Leave" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentMarkingDuration : "Present Marking Duration" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForHalfDay : "Maximum Working For Half Day" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForSortDay : "Maximum Working For Sort Day	" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayAfter : "Mark Half Day After" )
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayBefore : "Mark Half Day Before" )
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <div class="container">
        @*<div class="col-md-6">
                <div class="form-group">
                    <label for="Company">Company*</label>
                    <select class="form-control" id="ddlCompany1" name="Company"></select>
                </div>
            </div>*@
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Skills</button><br /><br />*@
        @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
        <!--<table class="table table-bordered" id="tblreport" style="width:100%">
        <tbody>
            <tr>
                <td style="width:100%;">-->
        @*<label><input id="1" type="radio" name="optradio" checked> Job Request by HOD</label>*@
        <!--<div id="example" style="text-align: center; align-items:flex-end">

        </div>-->
        @*<label><input id="2" type="radio" name="optradio"> Age Group Master</label>*@
        <!--</td>
                </tr>
            </tbody>
        </table>-->
    </div>
</body>
</html>

