﻿@model IntegratedAttendanceSystem.Models.GradeModel
@{
    ViewBag.Title = "Grade Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Grade</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Grade.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    @*<div class="container">
    </div>*@
    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeDetails : "Grade Details")</h2>
    @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
    <button type="button" class="btn btn-primary" id="btnAddNew1">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AddNew : "Add New")</button><br /><br />
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblGrade" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeCode : "Grade Code")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeName : "Grade Name")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.CompanyCode : "Company Code")
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeDetails : "Grade Details")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="IsActive">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")* </label>
                            <select class="form-control" id="ddlIsActive" name="IsActive">
                                <option value="Y">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Active")</option>
                                <option value="N">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "InActive")</option>
                            </select>
                        </div>
                        <div class="form-group" id="divcode">
                            <label for="GradeCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeCode : "Grade Code")*  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                            <input type="text" class="form-control" id="txtGradeCode" maxlength=5 onchange="return GradeCodeCheck(this.value)" placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeCode : "Grade Code")" />
                        </div>
                        <div class="form-group">
                            <label for="GradeName">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeName : "Grade Name")*  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                            <input type="text" class="form-control" id="txtGradeName" maxlength=45 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GradeName : "Grade Name")" />
                        </div>
                        @*<div class="form-group">
                            <label for="CompanyCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.CompanyCode : "Company Code")*</label>
                            <select class="form-control" id="ddlCompanyCode" name="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.CompanyCode : "Company Code")">
                                <option value="Y">TIPL</option>
                            </select>
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel")</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
