﻿@model IntegratedAttendanceSystem.Models.ShiftModel
@{
    ViewBag.Title = "Shift Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Shift.js")
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

            function validateHhMm(inputField) {
                var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);  //Actual regex which will validate

                if (isValid) {
                    inputField.style.backgroundColor = '#bfa';
                } else {
                    inputField.style.backgroundColor = '#fba';
                }

                return isValid;
            }
        </script>
    }
    @*<script type="text/javascript">
        function get_time_diff(Strdatetime, EndDatetime) {
            //var datetime = typeof datetime !== 'undefined' ? datetime : "2014-01-01 01:02:03.123456";
            var Sdatetime = new Date(Strdatetime).getTime();
            var Edatetime = new Date(EndDatetime).getTime();
            //if (isNaN(Strdatetime)) {
            //    return "";
            //}
            //if (isNaN(EndDatetime)) {
            //    return "";
            //}
            //console.log(datetime + " " + now);
            if (Sdatetime < Edatetime) {
                var milisec_diff = Edatetime - Sdatetime;
            } else {
                var milisec_diff = Sdatetime - Edatetime;
            }
            // for lunch hours deduction
            //var lchDeduct = HourFormatToMinutes(document.getElementById('ASPxRoundPanel1_txtLunchDeduction_I').value) * 60000;
            //var lchDeduct = HourFormatToMinutes(document.getElementById('ASPxRoundPanel1_txtLunchDeduction_I').value) * 60000;
            //milisec_diff = milisec_diff - lchDeduct;
            // end for lunch hours deduction
            //var days = Math.floor(milisec_diff / 1000 / 60 / (60 * 24));  // original
            var Hrs = Math.floor(milisec_diff / 1000 / 60 / (60));
            var Mins = Math.floor(milisec_diff / 60000) % (60);


            if (Hrs < 10)
                Hrs = "0" + Hrs;
            if (Mins < 10)
                Mins = "0" + Mins;
            return Hrs + ":" + Mins;
        }
        function findShiftHours() {
            //var STARTTIME = document.getElementById('txtShiftStartTime').value;
            var STARTTIME = $('#txtShiftStartTime').val();
            //var ENDTIME = document.getElementById('txtShiftEndTime').value;
            var ENDTIME = $('#txtShiftEndTime').val();
            var SSftStr = "1900-01-01 " + STARTTIME + ":00";
            var ESftStr = "1900-01-01 " + ENDTIME + ":00";

            var Sdatetime = new Date(SSftStr).getTime();
            var Edatetime = new Date(ESftStr).getTime();
            if (Sdatetime > Edatetime) {
                ESftStr = "1900-01-02 " + ENDTIME + ":00";
            }
            $('#txtShiftHours').val(get_time_diff(ESftStr, SSftStr));
        }
    </script>*@

</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    <div class="container">
    </div>
    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftDetails : "Shift Details")</h2>
    @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
    <button type="button" class="btn btn-primary" id="btnAddNew1">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AddNew : "Add New")</button><br /><br />
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblShift" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftCode : "Shift Code")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftDescription : "Shift Description")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftStartTime: "Shift Start Time")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftEndTime : "ShiftEndTime")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftHours : "Shift Hours")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchStartTime: "Lunch Start Time")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchDuration : "Lunch Duration")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchEndTime: "Lunch End Time")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchDeduction : "Lunch Deduction")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeDeductAfter: "Overtime Deduct After")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeStartAfter: "Overtime Start After")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeDeduction : "Overtime Deduction")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftPosition : "Shift Position")
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            @*<div class="modal-content" style="width:800px">*@
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftDetails : "Shift Details")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Company">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")<span class="required">*</span></label>
                                    <select class="form-control" id="ddlCompany" name="Company">
                                        @*<option value="TIPL">TIPL</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divcode">
                                    <label for="Code">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftCode : "Shift Code")<span class="required">*</span>  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtCode" maxlength=3 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftCode : "Shift Code")" onkeypress="return AlphanumaricValidation(event)" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ShiftDiscription">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftDescription : "Shift Discription:") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtShiftName" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftDescription : "Shift Discription:")" onkeypress="return AlphanumaricValidation(event)" />
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group" id="divcode">
                                        <label for="Code">Shift Code*</label>
                                        <input type="text" class="form-control" id="txtCode" maxlength=5 placeholder="Code" onchange="return CompanyCodeCheck(this.value)" />
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="StartTime">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftStartTime: "Shift Start Time")<span class="required">*</span> <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="time" class="form-control" id="txtShiftStartTime" maxlength=5 placeholder="HH:MM" min='00:00' max='23:59' value="00:00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=" EndTime">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftEndTime: "Shift End Time")<span class="required">*</span> <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="time" class="form-control" id="txtShiftEndTime" maxlength=5 placeholder="HH:MM" min='00:00' max='23:59' value="00:00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="LunchStartTime">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchStartTime: "Lunch Start Time")<span class="required">*</span> <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="time" class="form-control" id="txtLunchStartTime" maxlength=5 placeholder="HH:MM" min='00:00' max='23:59' value="00:00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="LunchEndTime">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchEndTime : "Lunch End Time")<span class="required">*</span> <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    @*<input type="text" class="form-control" id="txtLunchStartTime" maxlength=5 placeholder="HH:MM" onkeypress='return QoutesValidation(event)' />*@
                                    <input type="time" class="form-control" id="txtLunchEndTime" maxlength=5 placeholder="HH:MM" min='00:00' max='23:59' value="00:00" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ShiftHours">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftHours: "Shift Hours")<span class="required">*</span> <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    @*<input type="number" class="form-control" id="txtShiftHours" min="0" max="1440" maxlength=5 placeholder="00" onclick="return ShiftHrs()" readonly />*@
                                    <input type="number" class="form-control" id="txtShiftHours" min="0" max="1440" maxlength=5 placeholder="00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Overtimededuction">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeDeduction: "Overtime Deduction") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="number" class="form-control" id="txtOvertimeDeduction: " min="0" max="1440" maxlength=3 placeholder="00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="OvertimeDeductAfter">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeDeductAfter: "Overtime Deduct After") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="number" class="form-control" id="txtOvertimeDeductAfter" min="0" max="1440" maxlength=5 placeholder="00" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="OvertimeStartAfter">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OvertimeStartAfter: "Overtime Start After") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="number" class="form-control" id="txtOvertimeStartAfter" min="0" max="1440" maxlength=5 placeholder="00" />
                                    @*<textarea class="form-control" id="txtOvertimeStartAfter" maxlength=5 placeholder="Overtime start after" onkeypress='return QoutesValidation(event)'></textarea>*@
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="LunchDuration">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchDuration: "Lunch Duration") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    @*<input type="number" class="form-control" id="txtLunchDuration" min="0" max="1440" maxlength=3 placeholder="00" onclick="return LunchHrs()" readonly />*@
                                    <input type="number" class="form-control" id="txtLunchDuration" min="0" max="1440" maxlength=3 placeholder="00"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="LunchDeduction">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LunchDeduction : "Lunch Deduction") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Time in 24Hrs (00:01 to 23:59)"></span></label>
                                    <input type="number" class="form-control" id="txtLunchDeduction" min="0" max="1440" maxlength=3 placeholder="00" onkeypress='return isNumberKey(event)' />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ShiftPosition">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ShiftPosition : "Shift Position") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Day/Night/Half"></span></label>
                                    <select class="form-control" id="ddlShiftPosition" name="ShiftPosition">
                                        <option value="D" selected="selected">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Day : "Day")</option>
                                        <option value="N">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Night : "Night")</option>
                                        <option value="H">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Half : "Half")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label for="MaximumAbsentHoursForHalfDay">Max. Absent Hours For Half Day:</label>
                                        <input type="text" class="form-control" id="txtMaximumAbsentHoursForHalfDay" maxlength=2 placeholder="Maximum Absent Hours For Half Day." onkeypress='return QoutesValidation(event)' />
                                    </div>
                                </div>*@
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel")</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>