﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link href="~/Content/login.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqtable")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="main">
        <div class="top-right">
            <label style="color:white">Language</label>
            <select class="form-control" id="ddlLanguage" name="ddlLanguage">
                <option value="E" selected>English</option>
                <option value="A">Arabic</option>
            </select>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <center>
                <div style="color:white">
                    <h1>integrated Attendance System</h1><br /><br />
                </div>
                <div class="middle">
                    <div id="login">
                        <form>
                            <fieldset class="clearfix">
                                <p>
                                    <span class="fa fa-user"></span>
                                    <input type="text" value="Admin" Placeholder="Username" required>
                                </p> <!-- JS because of IE support; better: placeholder="Username" -->
                                <p>
                                    <span class="fa fa-lock"></span>
                                    <input type="password" value="Admin" Placeholder="Password" required>
                                </p> <!-- JS because of IE support; better: placeholder="Password" -->
                                <p>
                                    <span class="fa fa-group"></span>
                                    <input type="text" value="C01" Placeholder="Company Code" required>
                                </p>
                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">
                                            Forgot password?
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;">
                                        <input type="button" class="btn btn-primary" id="btnlogin" value="Sign In" onclick="return Login();" />
                                    </span>
                                </div>
                            </fieldset>
                            <div class="clearfix"></div>
                        </form>
                        <div class="clearfix"></div>
                    </div> <!-- end login -->
                    <div class="logo">
                        @*<img src="~/Custom_Script/dist/img/AdminLTELogo.png" />*@
                        @*<img src="~/Custom_Script/dist/img/TimeWatchInfoLogo.png" />*@
                        @*<img src="~/Custom_Script/dist/img/TimeWatchImg.png" />*@
                        <img src="~/Custom_Script/dist/img/TimeWatchImgAdd.png" />
                        <div class="clearfix"></div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <script type="text/javascript">
        $("#ddlLanguage").change(function () {
            var langval = $("#ddlLanguage").val();
            if (langval == "E") {
                location.href = "/Login/Login";
            }
            else {
                location.href = "/LoginAr/LoginAr";
            }
        });
        function Login() {
            var langval = $("#ddlLanguage").val();
            $.ajax({
                url: "/Login/Lang",
                data: { ddlLanguage: langval },
                type: "POST",
                success: function (result) {
                    location.href = "/Home/Index";
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>
</body>
</html>