﻿@model Payroll.Models.LocationModel
@{
    ViewBag.Title = "Location Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>Location</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Location.js")
    <script src="~/Custom_Script/dist/js/Validation.js"></script>
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    <input type="hidden" id="hdn_lang" name="hdn_lang" value="@Session["LangType"]" />
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    @*<div class="container">*@
    @if (Session["LangType"].ToString() == "A")
    {
        <h2>@Payroll.Resources.Language.LocationDetails</h2>
    }
    else
    {
        <h2>Location Details</h2>
    }
    @if (Session["LangType"].ToString() == "A")
    {
        <button type="button" class="btn btn-primary" id="btnAdd">@Payroll.Resources.Language.AddNew</button><br /><br />
    }
    else
    {
        <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
    }
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblLocation" style="width:100%">
        <thead>
            <tr>
                @if (Session["LangType"].ToString() == "A")
                {
                    <th id="tblThEdit">
                        @Payroll.Resources.Language.Edit
                    </th>
                }
                else
                {
                    <th id="tblThEdit">
                        Edit
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Delete
                    </th>
                }
                else
                {
                    <th>
                        Delete
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Code
                    </th>
                }
                else
                {
                    <th>
                        Code
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Name
                    </th>
                }
                else
                {
                    <th>
                        Name
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.City
                    </th>
                }
                else
                {
                    <th>
                        City
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.State
                    </th>
                }
                else
                {
                    <th>
                        State
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.PostalCode
                    </th>
                }
                else
                {
                    <th>
                        Postal Code
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Country
                    </th>
                }
                else
                {
                    <th>
                        Country
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Address1
                    </th>
                }
                else
                {
                    <th>
                        Address1
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.Address2
                    </th>
                }
                else
                {
                    <th>
                        Address2
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @Payroll.Resources.Language.ContactEmailID
                    </th>
                }
                else
                {
                    <th>
                        Contact EmailID
                    </th>
                }

            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
    @*</div>*@
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @Payroll.Resources.Language.LocationDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Location Details</h4>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="divcode">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Code">@Payroll.Resources.Language.Code<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="Code">Code<span class="required">*</span></label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationCode" onkeyup="this.value = this.value.toUpperCase();" maxlength=5 placeholder="@Payroll.Resources.Language.Code" onchange="return LocationCodeCheck(this.value)" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationCode" onkeyup="this.value = this.value.toUpperCase();" maxlength=5 placeholder="Code" onchange="return LocationCodeCheck(this.value)" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationName">@Payroll.Resources.Language.Name<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="LocationName">Name<span class="required">*</span></label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationName" maxlength=100 placeholder="@Payroll.Resources.Language.Name" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationName" maxlength=100 placeholder="Name" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationCity">@Payroll.Resources.Language.City</label>
                                    }
                                    else
                                    {
                                        <label for="LocationCity">City</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationCity" maxlength=100 placeholder="@Payroll.Resources.Language.City" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationCity" maxlength=100 placeholder="City" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationState">@Payroll.Resources.Language.State</label>
                                    }
                                    else
                                    {
                                        <label for="LocationState">State</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationState" maxlength=100 placeholder="@Payroll.Resources.Language.State" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationState" maxlength=100 placeholder="State" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationCountry">@Payroll.Resources.Language.Country</label>
                                    }
                                    else
                                    {
                                        <label for="LocationCountry">Country</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationCountry" maxlength=50 placeholder="@Payroll.Resources.Language.Country" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationCountry" maxlength=50 placeholder="Country" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationPostalCode">@Payroll.Resources.Language.PostalCode</label>
                                    }
                                    else
                                    {
                                        <label for="LocationPostalCode">Postal Code</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationPostalCode" maxlength=10 placeholder="@Payroll.Resources.Language.PostalCode" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationPostalCode" maxlength=10 placeholder="Postal Code" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationAddress1">@Payroll.Resources.Language.Address1</label>
                                    }
                                    else
                                    {
                                        <label for="LocationAddress1">Address1</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <textarea class="form-control" id="txtLocationAddress1" maxlength=250 placeholder="@Payroll.Resources.Language.Address1" onchange="return CommonValidation()"></textarea>
                                    }
                                    else
                                    {
                                        <textarea class="form-control" id="txtLocationAddress1" maxlength=250 placeholder="Address1" onchange="return CommonValidation()"></textarea>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationAddress2">@Payroll.Resources.Language.Address2</label>
                                    }
                                    else
                                    {
                                        <label for="LocationAddress2">Address2</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <textarea class="form-control" id="txtLocationAddress2" maxlength=250 placeholder="@Payroll.Resources.Language.Address2" onchange="return CommonValidation()"></textarea>
                                    }
                                    else
                                    {
                                        <textarea class="form-control" id="txtLocationAddress2" maxlength=250 placeholder="Address2" onchange="return CommonValidation()"></textarea>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LocationContactEmailID">@Payroll.Resources.Language.ContactEmailID</label>
                                    }
                                    else
                                    {
                                        <label for="LocationContactEmailID">Contact EmailID</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLocationContactEmailID" maxlength=50 placeholder="@Payroll.Resources.Language.ContactEmailID" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLocationContactEmailID" maxlength=50 placeholder="Contact EmailID" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@Payroll.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@Payroll.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
