﻿
@{
    ViewBag.Title = "EmployeeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

    @Scripts.Render("~/MyCustomScript/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/mycustomscript/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/EmployeeMasterList.js")
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/jobdescription.js")*@
    @section MyScripts {
        <script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });

            $(function () {
                $("#accordion").accordion();
            });

            $(document).ready(function () {
                //$("#btnAdd").click(function () {
                //    $('#myModal').modal('show');
                //});
            });
        </script>
    }

    @*======== Date Range ============*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
                type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
              rel="Stylesheet" type="text/css" />*@
    <script type="text/javascript">
        $(function () {
            $("#txtFrom").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#txtTo").datepicker("option", "minDate", dt);
                }
            });
            $("#txtTo").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#txtFrom").datepicker("option", "maxDate", dt);
                }
            });
        });
    </script>

    @*======== Date Range ============*@
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container">
        <h2 class="page-header">Employee Master</h2>
    </div>
    @*<button type="button" class="btn btn-primary" id="btnAdd" href="@Url.Action("EmployeeMasterEdit","EmployeeMaster")">Add New</button><br /><br />*@
    @*<a class="btn btn-primary" id="btnAdd">Add New</a>*@
    <input type="button" class="btn btn-primary" id="btnAdd" value="Add New" onclick="location.href='@Url.Action("EmployeeMasterEdit", "EmployeeMaster")'" />
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblEmployee" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    Edit
                </th>
                <th>
                    Delete
                </th>
                <th>
                    ACTIVE
                </th>
                <th>
                    PAYCODE
                </th>
                <th>
                    GUARDIAN NAME
                </th>
                <th>
                    DATE OF BIRTH
                </th>
                <th>
                    DATE OF JOIN
                </th>
                <th>
                    PRESENT CARD NO
                </th>
                <th>
                    COMPANY NAME
                </th>
                <th>
                    DIVISION NAME
                </th>
                <th>
                    CATAGORY
                </th>
                <th>
                    DEPARTMENT
                </th>
                <th>
                    GRADE
                </th>
                <th>
                    SEX
                </th>
                <th>
                    ISMARRIED
                </th>
                <th>
                    DESIGNATION
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Company">Company*</label>
                <select class="form-control" id="ddlCompany1" name="Company"></select>
            </div>
        </div>
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Skills</button><br /><br />*@
        @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
        <!--<table class="table table-bordered" id="tblreport" style="width:100%">
        <tbody>
            <tr>
                <td style="width:100%;">-->
        @*<label><input id="1" type="radio" name="optradio" checked> Job Request by HOD</label>*@
        <!--<div id="example" style="text-align: center; align-items:flex-end">

        </div>-->
        @*<label><input id="2" type="radio" name="optradio"> Age Group Master</label>*@
        <!--</td>
                </tr>
            </tbody>
        </table>-->
    </div>
</body>
</html>
