﻿@{
    ViewBag.Title = "EmployeeMasterEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        /*.btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
*/
        #img-upload-photo {
            width: 100%;
        }

        #img-upload-sign {
            width: 100%;
        }
    </style>

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/EmployeeMaster.js")
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/jobdescription.js")*@
    @section MyScripts {
        <script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });

            $(function () {
                $("#accordion").accordion();
            });

            $(document).ready(function () {
                //$("#btnAdd").click(function () {
                //    $('#myModal').modal('show');
                //});
            });
        </script>
    }

    <script type="text/javascript">
        $(function () {
            $("#txtDateOfBirth").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 2);
                    $("#txtDateOfJoin").datepicker("option", "minDate", dt);
                }
            });
            $("#txtDateOfJoin").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 6570);
                    $("#txtDateOfBirth").datepicker("option", "maxDate", dt);
                }
            });
        });
        //function validate(date) {
        //    var eighteenYearsAgo = moment().subtract(18, "years");
        //    var birthday = moment(date);

        //    if (!birthday.isValid()) {
        //        return "invalid date";
        //    }
        //    else if (eighteenYearsAgo.isAfter(birthday)) {
        //        return "okay, you're good";
        //    }
        //    else {
        //        return "sorry, no";
        //    }
        //}
        function DobDojchecker() {

            var DOB = document.getElementById("txtDateOfBirth").value;

            var DOJ = document.getElementById("txtDateOfJoin").value;

            var age = DOJ - DOB;

            if (age < 18) {

                alert('min is more than max');

            }

        }
    </script>

</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container">
        <h2 class="page-header">Employee Master</h2>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Office Details</a></li>
            <li><a href="#tabs-2">Personal Details</a></li>
        </ul>
        <div id="tabs-1">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Office Details</div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="IsActive">Active*</label>
                                            <select class="form-control" id="ddlIsActive" name="IsActive">
                                                <option value="Y">True</option>
                                                <option value="N">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="EmployeeCode">Employee Code*</label>
                                            <input type="text" class="form-control" id="txtEmployeeCode" maxlength=100 placeholder="Employee Code" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BiometricID">Biometric ID*</label>
                                            <input type="text" class="form-control" id="txtBiometricID" maxlength=100 placeholder="Biometric ID" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Employee Name">Employee Name*</label>
                                            <input type="text" class="form-control" id="txtEmployeeName" maxlength=100 placeholder="Employee Name" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Guardian Name">Guardian Name</label>
                                            <input type="text" class="form-control" id="txtGuardianName" maxlength=100 placeholder="Guardian Name" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Company">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company " )*</label>
                                            @*<select class="form-control" id="ddlCompany1" name="Company"></select>*@
                                            <select class="form-control" id="ddlCompany" name="JobCompany" onchange="BindJD();">
                                                <option value="">-- Company --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Department">Department*</label>
                                            <select class="form-control" id="ddlDepartment" name="Department"></select>                                          
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Category">Category*</label>
                                            <select class="form-control" id="ddlCategory" name="Category"></select>                                          
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Section">Section*</label>
                                            <select class="form-control" id="ddlSection" name="Section"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="SubContractor">Sub Contractor*</label>
                                            <select class="form-control" id="ddlSubContractor" name="SubContractor"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="EmployeeGroup">Employee Group*</label>
                                            <select class="form-control" id="ddlEmployeeGroup" name="EmployeeGroup"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Designation">Designation*</label>
                                            <select class="form-control" id="ddlDesignation" name="Designation"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Designation">User Type*</label>
                                            <select class="form-control" id="ddlDesignation" name="Designation">
                                                <option value="Y">User</option>
                                                <option value="N">Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="HOD">HOD*</label>
                                            <select class="form-control" id="ddlHOD" name="HOD"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Employee Photo</label>`
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default btn-file">
                                                        Browse… <input type="file" id="imgInp">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                            <img id='img-upload-photo' style="border-radius: 50%; height:250px; background-image: url('../../Custom_Script/dist/img/default-photo.jpg');" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Upload Employee signature</label>`
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default btn-file">
                                                        Browse… <input type="file" id="imgSign">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                            <img id='img-upload-sign' style=" margin-top: 20px; height: 250px; background-image: url('../../Custom_Script/dist/img/default-250x250.png');" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-2">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Personal Details</div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DateOfJoin">Date Of Join*</label>
                                            <input type="text" id="txtDateOfJoin" placeholder="DD/MM/YYYY" onchange="DobDojchecker()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DateOfBirth">Date Of Birth</label>
                                            <input type="text" contenteditable="false" id="txtDateOfBirth" placeholder="DD/MM/YYYY"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Married">Married</label>
                                            <select class="form-control" id="ddlMarried" name="Married">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Gender">Gender*</label>
                                            <select class="form-control" id="ddlGender" name="Gender">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control" id="txtEmail" maxlength=100 placeholder="Email" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BloodGroup">Blood Group</label>
                                            <select class="form-control" id="ddlBloodGroup" name="BloodGroup">
                                                <option value="A+">A RhD positive (A+)</option>
                                                <option value="A-">A RhD negative (A-)</option>
                                                <option value="B+">B RhD positive (B+)</option>
                                                <option value="B-">B RhD negative (B-)</option>
                                                <option value="O+">O RhD positive (O+)</option>
                                                <option value="O-">O RhD negative (O-)</option>
                                                <option value="AB+">AB RhD positive (AB+)</option>
                                                <option value="AB-">AB RhD negative (AB-)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Qualification">Qualification</label>
                                            <input type="text" class="form-control" id="txtQualification" maxlength=100 placeholder="Qualification" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Experience">Experience</label>
                                            <input type="text" class="form-control" id="txtExperience" maxlength=100 placeholder="Experience" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Bank">Bank</label>
                                            <select class="form-control" id="ddlBank" name="Bank"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="AccountNo">Account No</label>
                                            <input type="text" class="form-control" id="txtAccountNo" maxlength=100 placeholder="Account No" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UID">UID</label>
                                            <input type="text" class="form-control" id="txtUID" maxlength=100 placeholder="UID" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="PANNo">PAN No</label>
                                            <input type="text" class="form-control" id="txtPANNo" maxlength=100 placeholder="PAN No" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="text-black bg-gray"><h4>Permanent Address</h4></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Address">Address</label>
                                            <textarea class="form-control" id="txtAddress" maxlength=250 placeholder="Address" onkeypress='return QoutesValidation(event)'></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="PINCode">PIN Code</label>
                                            <input type="text" class="form-control" id="txtPINCode" maxlength=100 placeholder="PIN Code" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="MobileNo">Mobile No</label>
                                            <input type="text" class="form-control" id="txtMobileNo" maxlength=100 placeholder="Mobile No" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="text-black bg-gray"><h4>Temporary Address</h4></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tAddress">Address</label>
                                            <textarea class="form-control" id="txtTAddress" maxlength=250 placeholder="Address" onkeypress='return QoutesValidation(event)'></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tPINCode">PIN Code</label>
                                            <input type="text" class="form-control" id="txtPINCode" maxlength=100 placeholder="PIN Code" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tMobileNo">Mobile No</label>
                                            <input type="text" class="form-control" id="txtTMobileNo" maxlength=100 placeholder="Mobile No" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                @*<button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>*@
                <a class="btn btn-primary" href="@Url.Action("EmployeeMaster","EmployeeMaster")">Cancel</a>
            </div>
        </div>
    </div>

    <div class="container">
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Skills</button><br /><br />*@
        @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
        <!--<table class="table table-bordered" id="tblreport" style="width:100%">
            <tbody>
                <tr>
                    <td style="width:100%;">-->
        @*<label><input id="1" type="radio" name="optradio" checked> Job Request by HOD</label>*@
        <!--<div id="example" style="text-align: center; align-items:flex-end">

        </div>-->
        @*<label><input id="2" type="radio" name="optradio"> Age Group Master</label>*@
        <!--</td>
                </tr>
            </tbody>
        </table>-->
    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Custom_Script/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <script src="~/Custom_Script/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
</html>
