﻿@model IntegratedAttendanceSystem.Models.LeaveMasterModel
@{
    ViewBag.Title = "LeaveMaster Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>LeaveMaster</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/LeaveMaster.js")
    <script src="~/Custom_Script/dist/js/Validation.js"></script>
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });
        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveMaster : "Leave Master")</h2>
    <button type="button" class="btn btn-primary" id="btnAdd">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AddNew : "Add New")</button><br /><br />
    @*<div class="container">
    </div>*@
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblLeaveMaster" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveCode : "Leave Code")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveName : "Leave Name")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveType : "Leave Type")
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveMaster : "Leave Master")</h4>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" id="divcode">
                            <label for="LeaveCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveCode : "Leave Code")*</label>
                            <input type="text" class="form-control" id="txtLeaveCode" maxlength=5 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveCode : "Leave Code")" />
                        </div>
                        <div class="form-group" id="divcode">
                            <label for="LeaveCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveCode : "Leave Name")*</label>
                            <input type="text" class="form-control" id="txtLeaveName" maxlength=5 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveName : "Leave Name")" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
