﻿@model IntegratedAttendanceSystem.Models.RosterModel
@{
    ViewBag.Title = "Roster Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/CreateRoster.js")

    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });
        </script>
        <script type="text/javascript">
            $(".form_datetime").datetimepicker({
                format: "dd MM yyyy - hh:ii",
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $("#txtFromDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    numberOfMonths: 2,
                    onSelect: function (selected) {
                        var dt = new Date(selected);
                        dt.setDate(dt.getDate() + 2);
                        $("#txtDateOfJoin").datepicker("option", "minDate", dt);
                    }
                });
                //$("#txtDateOfJoin").datepicker({
                //    dateFormat: 'dd/mm/yy',
                //    numberOfMonths: 2,
                //    onSelect: function (selected) {
                //        var dt = new Date(selected);
                //        dt.setDate(dt.getDate() - 6570);
                //        $("#txtDateOfBirth").datepicker("option", "maxDate", dt);
                //    }
                //});
            });
        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container-fluid">
        <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.RosterCreation : "Roster Creation")</h2>

        <div class="container-fluid">
            <div class="card w-12">
                <div class="card-header align-content-center">
                    <h3 class="card-title">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SelectOperators : "Select Options")</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SelectionMode : " Selection Mode:")</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="icheck-success d-inline">
                                                <div class="icheck-success d-inline">
                                                    <input type="radio" value="A" id="rdoAll" name="SelectionMode" onclick="SelectionOption()" checked="checked">
                                                    <label for="rdoAll">
                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.All : " All  ")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="icheck-success d-inline">
                                                <div class="icheck-success d-inline">
                                                    <input type="radio" value="S" id="rdoSelective" name="SelectionMode" onclick="SelectionOption()">
                                                    <label for="rdoSelective">
                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Selective : " Selective")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FromDate : " From Date")</label>
                                <div class="md-form">
                                    @*<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">*@
                                    <input type="text" id="txtFromDate" placeholder="DD/MM/YYYY" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")</label>
                                <select class="form-control select2" id="ddlCompany" name="SelectMaster" disabled="disabled">
                                    <option value="">-- Company --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")</label>
                                <select class="form-control select2" id="ddlLocation" name="SelectMaster" disabled="disabled">
                                    <option value="">-- Location --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Employee : "Employee")</label>
                                <select class="form-control select2" id="ddlEmployee" name="SelectMaster" disabled="disabled">
                                    <option value="">-- Employee --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card w-12">
                <div class="card-header">
                    <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Create : " Process For Roster")</label>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card w-4">
                            <div class="card-header">
                                <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Create : " Create Roster")</label>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="md-form">
                                        <button type="button" class="btn btn-success" id="btnCreate" onclick="return Create();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Create" )</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-4">
                            <div class="card-header">
                                <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Update : " Update Roster")</label>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="md-form">
                                        <button type="button" class="btn btn-success" id="btnUpdate" onclick="return Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Update" )</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-4">
                            <div class="card-header">
                                <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FromDate : " Upload Roster")</label>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="md-form">
                                        <button type="button" class="btn btn-success" id="btnUpload" onclick="return Create();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Upload" )</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>