﻿@model IntegratedAttendanceSystem.Models.CreateRoster
@{
    ViewBag.Title = "Roster Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/CreateRoster.js")

    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });
        </script>
        <script type="text/javascript">
            $(".form_datetime").datetimepicker({
                format: "dd MM yyyy - hh:ii",
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $("#txtFromDate").datepicker({
                    dateFormat: 'dd/mm/yy',
                    numberOfMonths: 2,
                    onSelect: function (selected) {
                        var dt = new Date(selected);
                        dt.setDate(dt.getDate() + 2);
                        $("#txtDateOfJoin").datepicker("option", "minDate", dt);
                    }
                });
                //$("#txtDateOfJoin").datepicker({
                //    dateFormat: 'dd/mm/yy',
                //    numberOfMonths: 2,
                //    onSelect: function (selected) {
                //        var dt = new Date(selected);
                //        dt.setDate(dt.getDate() - 6570);
                //        $("#txtDateOfBirth").datepicker("option", "maxDate", dt);
                //    }
                //});
            });
        </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container-fluid">

        <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.RosterCreation : "Roster Creation")</h2>
        <div>
            <div>
                <div class="row">
                    <div class="card w-12">
                        <div class="card-header">
                            <h3 class="card-title">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SelectOperators : "Select Options")</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")</label>
                                        <select class="form-control select2" id="ddlCompany" name="JobCompany" onchange="BindJD();">
                                            <option value="">-- Company --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FromDate : " From Date")</label>
                                        <div class="md-form">
                                            @*<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">*@
                                            <input type="text" id="txtFromDate" placeholder="DD/MM/YYYY" class="form-control datepicker" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="panel panel-primary">
                                            <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SelectionMode : " Selection Mode:")</label>
                                            <div class="panel-body">
                                                <div class="icheck-success d-inline">
                                                    <div class="icheck-success d-inline">
                                                        <input type="radio" id="rdoAll" value="A" name="SelectionMode" onclick="SelectionOption()" checked="checked">
                                                        <label for="All">
                                                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.NoPunch : " All")
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="icheck-success d-inline">
                                                    <div class="icheck-success d-inline">
                                                        <input type="radio" id="rdoSelective" value="S" name="SelectionMode" onclick="SelectionOption()">
                                                        <label for="Selective">
                                                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.NoPunch : " Selective")
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Employee : "Employee")</label>
                                        <select class="form-control select2" id="ddlEmployee" name="Employee" disabled="disabled">
                                            <option value="">-- Employee --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")</label>
                                        <select class="form-control select2" id="ddlLocation" name="Location" disabled="disabled">
                                            <option value="">-- Location --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-info">
                    @*<i class="nav-icon fas fa-copy"></i>*@
                    <div class="card-header">
                        <h3 class="card-title">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GeneralSetup : "General Setup")</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"> Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Group ID">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupID : "Group ID")*</label>
                                            <input type="text" class="form-control" id="txtGroupID" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupID : "Group ID" )" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="GroupName">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupName: "Group Name")*</label>
                                            <input type="text" class="form-control" id="txtGroupName" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GroupName: "Group Name")" onkeypress='return QoutesValidation(event)' />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="PermissibleLateArrival">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermissibleLateArrival: "Permissible Late Arrival")*</label>
                                            <input type='time' class="form-control" id="txtPermissibleLateArrival" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtPermissibleLateArrival" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermissibleLateArrival: "Permissible Late Arrival")" onchange="validateHhMm(this)" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="PermissibleEarlyDeparture">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermissibleEarlyDeparture: "Permissible Early Departure")*</label>
                                            @*<input type="text" class="form-control" id="txtPermissibleEarlyDeparture" maxlength=100  onkeypress='return QoutesValidation(event)' />*@
                                            <input type='time' class="form-control" id="txtPermissibleEarlyDeparture" min='00:00' max='23:59' value="00:00">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="MaxWorkingHourInADay">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingHourInADay : "Max Working Hour In A Day	")*</label>
                                            @*<input type='time' class="form-control" id="txtMaxWorkingHourInADay" min='00:00' max='23:59'  value="00:00">*@
                                            <input type='number' class="form-control" id="txtMaxWorkingHourInADay" min='0' max='1440' value="0">

                                            @*<input type="text" class="form-control" id="txtMaxWorkingHourInADay" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingHourInADay : "Max Working Hour In A Day	")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="PresentMarkingDuration">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentMarkingDuration : "Present Marking Duration")</label>
                                            <input type='time' class="form-control" id="txtPresentMarkingDuration" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtPresentMarkingDuration" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentMarkingDuration : "Present Marking Duration")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="MaxWorkingForHalfDay">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForHalfDay : "Max Working For Half Day")*</label>
                                            <input type='time' class="form-control" id="txtMaxWorkingForHalfDay" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtMaxWorkingForHalfDay" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForHalfDay : "Max Working For Half Day")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="MaxWorkingForSortDay">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForSortDay : "Max Working For Sort Day	")*</label>
                                            <input type='time' class="form-control" id="txtMaxWorkingForSortDay" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtMaxWorkingForSortDay" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MaxWorkingForSortDay : "Max Working For Sort Day")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="MarkHalfDayAfter">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayAfter : "Mark Half Day After")*</label>
                                            <input type='time' class="form-control" id="txtMarkHalfDayAfter" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtMarkHalfDayAfter" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayAfter : "Mark Half Day After")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="MarkHalfDayBefore">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayBefore : "Mark Half Day Before")*</label>
                                            <input type='time' class="form-control" id="txtMarkHalfDayBefore" min='00:00' max='23:59' value="00:00">
                                            @*<input type="text" class="form-control" id="txtMarkHalfDayBefore" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MarkHalfDayBefore : "Mark Half Day Before")" onkeypress='return QoutesValidation(event)' />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="card w-25">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline ml-2">
                                                                    <input type="checkbox" value="" name="IsRoundTheClockWork" id="chkIsRoundTheClockWork">
                                                                    <label for="chkIsRoundTheClockWork"></label>
                                                                </div>
                                                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsRoundTheClockWork : "Is Round The Clock Work")</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline ml-2">
                                                                    <input type="checkbox" value="" name="ConsiderTimeLoss" id="chkConsiderTimeLoss">
                                                                    <label for="chkConsiderTimeLoss"></label>
                                                                </div>
                                                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ConsiderTimeLoss : "Consider Time Loss")</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline ml-2">
                                                                    <input type="checkbox" value="" name="IsHalfDay" id="chkIsHalfDay">
                                                                    <label for="chkIsHalfDay"></label>
                                                                </div>
                                                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsHalfDay : "Is Half Day")</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline ml-2">
                                                                    <input type="checkbox" value="" name="IsSortLeave" id="chkIsSortLeave">
                                                                    <label for="chkIsSortLeave"></label>
                                                                </div>
                                                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsSortLeave : "Is Sort Leave")</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline ml-2">
                                                                    <input type="checkbox" value="" name="IsOverStay" id="chkIsOverStay">
                                                                    <label for="chkIsOverStay"></label>
                                                                </div>
                                                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IsOverStay : "Is Over Stay")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card w-75">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="card w-50">
                                                    <div class="card-header">
                                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PunchesRequiredInADay : " Punches Required In A Day")</label>
                                                    </div>
                                                    <div class="card-body">
                                                        @*<div class="panel-body">*@
                                                        <div class="form-group">
                                                            <div class="icheck-success d-inline">
                                                                <div class="icheck-success d-inline">
                                                                    <input type="radio" id="rdoNoPunch" value="NoPunch" name="rdoPunchType" onclick="SinglePunchOnly()" checked="checked">
                                                                    <label for="rdoNoPunch">
                                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.NoPunch : " No Punch")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="icheck-success d-inline">
                                                                <div class="icheck-success d-inline">
                                                                    <input type="radio" id="rdoSinglePunchOnly" value="SinglePunchOnly" onclick="SinglePunchOnly()" name="rdoPunchType">
                                                                    <label for="rdoSinglePunchOnly">
                                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SinglePunchOnly : " Single Punch Only")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="icheck-success d-inline">
                                                                <div class="icheck-success d-inline">
                                                                    <input type="radio" id="rdoTwoPunches" value="TwoPunches" onclick="SinglePunchOnly()" name="rdoPunchType">
                                                                    <label for="rdoTwoPunches">
                                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.TwoPunches : " Two Punches")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="icheck-success d-inline">
                                                                <div class="icheck-success d-inline">
                                                                    <input type="radio" id="rdoFourPunches" value="FourPunches" onclick="SinglePunchOnly()" name="rdoPunchType">
                                                                    <label for="rdoFourPunches">
                                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FourPunches : " Four Punches")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="icheck-success d-inline">
                                                                <div class="icheck-success d-inline">
                                                                    <input type="radio" id="rdoMultiplePunches" value="MultiplePunches" onclick="SinglePunchOnly()" name="rdoPunchType">
                                                                    <label for="rdoMultiplePunches">
                                                                        @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MultiplePunches : " Multiple Punches")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*</div>*@
                                                    </div>
                                                </div>

                                                <div class="card w-50">

                                                    <div class="card-header">
                                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SinglePunchOption : " Single Punch Option")</label>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline">
                                                                    <div class="icheck-success d-inline">
                                                                        <input type="radio" id="rdoFixedOutTime" value="Y" name="optradio1" checked="checked">
                                                                        <label for="rdoFixedOutTime">
                                                                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FixedOutTime : " Fixed Out Time")
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="icheck-success d-inline">
                                                                    <div class="icheck-success d-inline">
                                                                        <input type="radio" id="rdoOverwrite" value="O" name="optradio1">
                                                                        <label for="rdoOverwrite">
                                                                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Overwrite : " Overwrite")
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="card-footer">
        <div class="panel-footer">
            <button type="button" class="btn btn-success" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit" )</button>
            @*<button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>*@
            <a class="btn btn-primary" href="@Url.Action("EmployeeMaster","EmployeeMaster")">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel" )</a>
        </div>
    </div>


    <div class="container">
        <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.RosterCreation : "Roster Creation")</h2>
    </div>
    <div>
        <div class="card card-default">
            <div class="card-body">
                <div class="panel panel-primary">
                    <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.CompanyAndDateSelection : " Company And Date Selection")</label>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")</label>
                                <select class="form-control select2" id="ddlCompany" name="JobCompany" onchange="BindJD();">
                                    <option value="">-- Company --</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-picker-example">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.FromDate : " From Date")</label>
                                <div class="md-form">
                                    @*<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">*@
                                    <input type="text" id="txtFromDate" placeholder="DD/MM/YYYY" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="panel panel-primary">
                    <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.CompanyAndDateSelection : " Record Selection")</label>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="panel panel-primary">
                                    <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.SelectionMode : " Selection Mode:")</label>
                                    <div class="panel-body">
                                        <div class="icheck-success d-inline">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="rdoAll" value="A" name="SelectionMode" onclick="SelectionOption()" checked="checked">
                                                <label for="All">
                                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.NoPunch : " All")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="icheck-success d-inline">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="rdoSelective" value="S" name="SelectionMode" onclick="SelectionOption()">
                                                <label for="Selective">
                                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.NoPunch : " Selective")
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Employee : "Employee")</label>
                                <select class="form-control select2" id="ddlEmployee" name="Employee" disabled="disabled">
                                    <option value="">-- Employee --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")</label>
                                <select class="form-control select2" id="ddlLocation" name="Location" disabled="disabled">
                                    <option value="">-- Location --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Create();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Create : "Create" )</button>
            @*<button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button><button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();"></button><button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();"></button>*@
            <a class="btn btn-primary" href="@Url.Action(" EmployeeMaster","EmployeeMaster")">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel" )</a>
        </div>
    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Custom_Script/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <script src="~/Custom_Script/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>