﻿@model IntegratedAttendanceSystem.Models.CompanyModel
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Company.js")
    <script src="~/Custom_Script/dist/js/Validation.js"></script>

    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
</head>
<body>
    <input type="hidden" id="hdn_lang" name="hdn_lang" value="@Session["LangType"]" />
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    @*Container comment for space =========sagar===*@
    @*<div class="container">*@
    @if (Session["LangType"].ToString() == "A")
    {
        <h2>@IntegratedAttendanceSystem.Resources.Language.CompanyDetails</h2>
    }
    else
    {
        <h2>Company Details</h2>
    }
    @if (Session["LangType"].ToString() == "A")
    {
        <button type="button" class="btn btn-primary" id="btnAdd">@IntegratedAttendanceSystem.Resources.Language.AddNew</button><br /><br />
    }
    else
    {
        <button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />
    }
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblCompany" style="width:100%">
        <thead>
            <tr>
                @if (Session["LangType"].ToString() == "A")
                {
                    <th id="tblThEdit">
                        @IntegratedAttendanceSystem.Resources.Language.Edit
                    </th>
                }
                else
                {
                    <th id="tblThEdit">
                        Edit
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.Delete
                    </th>
                }
                else
                {
                    <th>
                        Delete
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.Status
                    </th>
                }
                else
                {
                    <th>
                        Status
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.Code
                    </th>
                }
                else
                {
                    <th>
                        Code
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.Name
                    </th>
                }
                else
                {
                    <th>
                        Name
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.ShortName
                    </th>
                }
                else
                {
                    <th>
                        Short Name
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.IndustryNature
                    </th>
                }
                else
                {
                    <th>
                        Industry Nature
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.Address
                    </th>
                }
                else
                {
                    <th>
                        Address
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.PhoneNumber
                    </th>
                }
                else
                {
                    <th>
                        Phone Number
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.EmailIDentification
                    </th>
                }
                else
                {
                    <th>
                        Email IDentification
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.RegistationNumber
                    </th>
                }
                else
                {
                    <th>
                        Registation Number
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.PermanentAccountNumber
                    </th>
                }
                else
                {
                    <th>
                        Permanent Account Number
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.TaxDeductionandCollectionAccountNumber
                    </th>
                }
                else
                {
                    <th>
                        Tax Deduction and Collection Account Number
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.ProvidentFundNumber
                    </th>
                }
                else
                {
                    <th>
                        Provident Fund Number
                    </th>
                }
                @if (Session["LangType"].ToString() == "A")
                {
                    <th>
                        @IntegratedAttendanceSystem.Resources.Language.LetterofCreditNumber
                    </th>
                }
                else
                {
                    <th>
                        Letter of Credit Number
                    </th>
                }

            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
    @*</div>*@
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px">
                <div class="modal-header">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <h4 class="modal-title"> @IntegratedAttendanceSystem.Resources.Language.CompanyDetails</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Company Details</h4>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="IsActive">@IntegratedAttendanceSystem.Resources.Language.Status<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="IsActive">Status<span class="required">*</span></label>
                                    }
                                    <select class="form-control" id="ddlIsActive" name="IsActive">
                                        @if (Session["LangType"].ToString() == "A")
                                        {
                                            <option value="Y">@IntegratedAttendanceSystem.Resources.Language.Active</option>
                                        }
                                        else
                                        {
                                            <option value="Y">Active</option>
                                        }
                                        @if (Session["LangType"].ToString() == "A")
                                        {
                                            <option value="Y">@IntegratedAttendanceSystem.Resources.Language.InActive</option>
                                        }
                                        else
                                        {
                                            <option value="N">InActive</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divcode">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Code">@IntegratedAttendanceSystem.Resources.Language.Code<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="Code">Code<span class="required">*</span></label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtCode" onkeyup="this.value = this.value.toUpperCase();" min="3" maxlength=4 placeholder="@IntegratedAttendanceSystem.Resources.Language.Code" onchange="return CompanyCodeCheck(this.value)" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtCode" onkeyup="this.value = this.value.toUpperCase();" min="3" maxlength=4 placeholder="Code" onchange="return CompanyCodeCheck(this.value)" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Name">@IntegratedAttendanceSystem.Resources.Language.Name<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="Name">Name<span class="required">*</span></label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtName" maxlength=50 placeholder="@IntegratedAttendanceSystem.Resources.Language.Name" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtName" maxlength=50 placeholder="Name" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="ShortName">@IntegratedAttendanceSystem.Resources.Language.ShortName<span class="required">*</span></label>
                                    }
                                    else
                                    {
                                        <label for="ShortName">Short Name<span class="required">*</span></label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtShortName" onkeyup="this.value = this.value.toUpperCase();" maxlength=5 placeholder="@IntegratedAttendanceSystem.Resources.Language.ShortName" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtShortName" onkeyup="this.value = this.value.toUpperCase();" maxlength=5 placeholder="Short Name" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="IndustryNature">@IntegratedAttendanceSystem.Resources.Language.IndustryNature</label>
                                    }
                                    else
                                    {
                                        <label for=" IndustryNature">Industry Nature</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtIndustryNature" maxlength=20 placeholder="@IntegratedAttendanceSystem.Resources.Language.IndustryNature" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtIndustryNature" maxlength=20 placeholder="Industry Nature" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="Address">@IntegratedAttendanceSystem.Resources.Language.Address</label>
                                    }
                                    else
                                    {
                                        <label for="Address">Address</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <textarea class="form-control" id="txtAddress" maxlength=200 placeholder="@IntegratedAttendanceSystem.Resources.Language.Address" onchange="return CommonValidation()"></textarea>
                                    }
                                    else
                                    {
                                        <textarea class="form-control" id="txtAddress" maxlength=200 placeholder="Address" onchange="return CommonValidation()"></textarea>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PhoneNo">@IntegratedAttendanceSystem.Resources.Language.PhoneNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PhoneNo">Phone Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPhoneNo" maxlength=11 placeholder="@IntegratedAttendanceSystem.Resources.Language.PhoneNumber" onkeypress='return isNumberKey(event)' onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPhoneNo" maxlength=11 placeholder="Phone Number" onkeypress='return isNumberKey(event)' onchange="return CommonValidation()" />

                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="EmailId">@IntegratedAttendanceSystem.Resources.Language.EmailIDentification</label>
                                    }
                                    else
                                    {
                                        <label for="EmailId">Email IDentification</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtEmailId" maxlength=50 placeholder="@IntegratedAttendanceSystem.Resources.Language.EmailIDentification" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtEmailId" maxlength=50 placeholder="Email IDentification" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="RegistationNo">@IntegratedAttendanceSystem.Resources.Language.RegistationNumber</label>
                                    }
                                    else
                                    {
                                        <label for="RegistationNo">Registation Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtRegistationNo" maxlength=20 placeholder="@IntegratedAttendanceSystem.Resources.Language.RegistationNumber" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtRegistationNo" maxlength=20 placeholder="Registation Number" onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PANNo">@IntegratedAttendanceSystem.Resources.Language.PermanentAccountNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PANNo">Permanent Account Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPANNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=10 placeholder="@IntegratedAttendanceSystem.Resources.Language.PermanentAccountNumber" onkeypress='return QoutesValidation(event)' onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPANNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=10 placeholder="Permanent Account Number" onkeypress='return QoutesValidation(event)' onchange="return CommonValidation()" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="LCNo">@IntegratedAttendanceSystem.Resources.Language.LetterofCreditNumber</label>
                                    }
                                    else
                                    {
                                        <label for="LCNo">Letter of Credit Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtLCNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=25 placeholder="@IntegratedAttendanceSystem.Resources.Language.LetterofCreditNumber" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtLCNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=25 placeholder="Letter of Credit Number" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="PFNo">@IntegratedAttendanceSystem.Resources.Language.ProvidentFundNumber</label>
                                    }
                                    else
                                    {
                                        <label for="PFNo">Provident Fund Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtPFNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=25 placeholder="@IntegratedAttendanceSystem.Resources.Language.ProvidentFundNumber" onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtPFNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=25 placeholder="Provident Fund Number" onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <label for="TANNo">@IntegratedAttendanceSystem.Resources.Language.TaxDeductionandCollectionAccountNumber</label>
                                    }
                                    else
                                    {
                                        <label for="TANNo">Tax Deduction and Collection Account Number</label>
                                    }
                                    @if (Session["LangType"].ToString() == "A")
                                    {
                                        <input type="text" class="form-control" id="txtTANNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=10 placeholder="@IntegratedAttendanceSystem.Resources.Language.TaxDeductionandCollectionAccountNumber"  onchange="return CommonValidation()" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="txtTANNo" onkeyup="this.value = this.value.toUpperCase();" maxlength=10 placeholder="Tax Deduction and Collection Account Number"  onchange="return CommonValidation()" />
                                    }

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@IntegratedAttendanceSystem.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@IntegratedAttendanceSystem.Resources.Language.Submit</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Submit</button>
                    }
                    @if (Session["LangType"].ToString() == "A")
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@IntegratedAttendanceSystem.Resources.Language.Cancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>
                    }

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>