﻿@model IntegratedAttendanceSystem.Models.DeviceModel
@{
    ViewBag.Title = "Device Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*
    <meta name="viewport" content="width=device-width" />
    <title>Device</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Device.js")
    @section MyScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#btnAdd").click(function () {
            //    $('#myModal').modal('show');
            //});
        });

    </script>
    }
</head>
<body>
    @if (ViewBag.Message != null)
    {
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
    }
    <input type="hidden" id="hdnAutoIdFlag" value="@Session[" isAutogenerateID"]" />
    <div class="container">
        
        <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceDetails : "Device Details")</h2>

        @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
        <button type="button" class="btn btn-primary" id="btnAddNew1">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AddNew : "Add New")</button><br /><br />
        <div class="">
            <table class="table table-bordered table-hover table-striped display nowrap" id="tblDevice" style="width:100%">
                <thead>
                    <tr>
                        <th id="tblThEdit">
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceCode : "Device Code")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceLocation : "Device Location")
                        </th>
                        <th>
                            @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UsedFor : "Used For")
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceDetails : "Device Details")</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="IsActive">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Status : "Status")*</label>
                            <select id="ddlIsActive" class="form-control" name="IsActive">
                                <option value="Y">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Active : "Active")</option>
                                <option value="N">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.InActive : "InActive")</option>
                            </select>
                        </div>
                        <div class="form-group" id="divcode">
                            <label for="DeviceCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceCode : "Device Code")*</label>
                            <input type="text" class="form-control" id="txtDeviceCode" maxlength="5" placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceCode : "Device Code")" onchange="return DeviceCodeCheck(this.value)" />
                        </div>
                        <div class="form-group">
                            <label for="DeviceCompany">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")*</label>
                            <input type="text" class="form-control" id="txtDeviceName" maxlength="50" onkeypress="return QoutesValidation(event);" placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")" />
                        </div>
                        <div class="form-group">
                            <label for="DeviceLocation">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")*</label>
                            <input type="text" class="form-control" id="txtDeviceName" maxlength="50" onkeypress="return QoutesValidation(event);" placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")" />
                        </div>
                        <div class="form-group">
                            <label for="DeviceUseFor">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UsedFor : "Use For")</label>
                            <select id="ddlUseFor" class="form-control" name="IsActive">
                                <option value="A">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Access : "Access")</option>
                                <option value="R">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Attendance : "Attendance")</option>
                            </select>
                            <select id="ddlInOut" class="form-control" name="IsActive">
                                <option value="I">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.In : "In")</option>
                                <option value="O">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Out : "Out")</option>
                            </select>
                        </div>
                       
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancel();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel")</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>
</html>
