﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<title>Integrated Attendance System | Dashboard</title>*@
    <title>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IntegratedAttendanceSystem : "Integrated Attendance System" )</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Custom_Script/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Custom_Script/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Custom_Script/dist/css/jquery.dataTables.css" rel="stylesheet" />

    <script src="~/Custom_Script/dist/js/common.js"></script>
    <link href="~/Custom_Script/dist/css/common.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>
            <div>
                @*<b>Integrated Attendance System</b>*@
                <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.IntegratedAttendanceSystem : "Integrated Attendance System" )</h2>
                @*@if (Session["LangType"].ToString() == "A")
                    {
                        <b>@IntegratedAttendanceSystem.Resources.Language.IntegratedAttendanceSystem</b>
                    }
                    else
                    {
                        <b>Integrated Attendance System</b>
                    }*@
            </div>
            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>*@
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>*@



                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>

                <li>
                    @if (Session["LangType"].ToString() == "A")
                    {
                        @*<b>@IntegratedAttendanceSystem.Resources.Language.EmployeeMaster</b>*@
                        <input type="button" class="btn btn-primary" id="btnAdd" value="@IntegratedAttendanceSystem.Resources.Language.SignOut" onclick="location.href='@Url.Action("Login", "Login")'" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-primary" id="btnlogin" value="Sign Out" onclick="location.href='@Url.Action("Login", "Login")'" />
                    }
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Home/index" class="brand-link">
                <img src="~/Custom_Script/dist/img/TimeWatchLogo.png" alt="Logo" height="50" width="50" class="img-circle"
                     style="opacity: .8">
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Custom_Script/dist/img/VikashAdmin.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Administrator : "Administrator" )</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        @*Dashboard*@
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Dashboard : "Dashboard" )
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        @*Dashboard*@

                        @*Masters*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Masters : "Masters" )

                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">6</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Company/Company">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Department/Department">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Department : "Department" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Location/Location">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Category/Category">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Category : "Category" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Bank/Bank">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Bank : "Bank" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Shift/Shift">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Shift : "Shift" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Grade/Grade">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Grade : "Grade" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/HOD/HOD">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManager : "Reporting Manager" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Designation/Designation">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Designation : "Designation" )</a>
                                </li>
                            </ul>
                            @*<ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Device/Device">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Device : "Device" )</a>
                                </li>
                            </ul>*@
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    @*<a class="nav-link" href="/EmployeeMaster/EmployeeMaster">Employee Master</a>*@
                                    <a class="nav-link" href="/Employee/Employee">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Employee : "Employee" )</a>
                                </li>
                            </ul>
                        </li>
                        @*Masters*@

                        @*E-Forms*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="fas fa-cog"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Roster : "Roster" )
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">3</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview active">
                                <li class="nav-item">
                                    <a class="nav-link" href="/CreateRoster/CreateRoster">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Create : "Create/Update/Upload" )</a>
                                </li>
                            </ul>
                            @*<ul class="nav nav-treeview active">
                                <li class="nav-item">
                                    <a class="nav-link" href="/JobApprovalByHR/index">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Update : "Update" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview active">
                                <li class="nav-item">
                                    <a class="nav-link" href="/JobApprovalByHR/index">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Upload : "Upload" )</a>
                                </li>
                            </ul>*@
                        </li>
                        @*E-Forms*@

                        @*Administrator*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="fas fa-user-cog"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Administrator : "Administration" )

                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">5</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Role/Index" style="font-style:oblique;">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.RoleMatrix : "Role Matrix" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/User/Index">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UserPrivilege : "User Privilege" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/EmployeeGroupPolicy/EmployeeGroupPolicy">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeGroupPolicy: "Employee Group Policy" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/DataMaintenance/DataMaintenance">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DataMaintenance : "Data Maintenance" )</a>
                                </li>
                            </ul>
                        </li>
                        @*Administrator*@

                        @*Leave Management*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="fas fa-user-cog"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveManagement : "Leave Management" )

                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">5</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LeaveMaster/LeaveMaster" style="font-style:oblique;">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeaveMaster : "Leave Master" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LeaveMaster/LeaveMaster">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AdminLeavePosting : "Admin Leave Posting" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LeaveMaster/LeaveMaster">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UserLeaveRequest: "User Leave Request" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LeaveMaster/LeaveMaster">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerLeaveApproval: "RM Leave Approval" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LeaveMaster/LeaveMaster">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AdminLeaveApproval: "Admin Leave Approval" )</a>
                                </li>
                            </ul>
                        </li>
                        @*Leave Management*@

                        @*Device Management*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="fas fa-user-cog"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DeviceManagement : "Device Management" )

                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">5</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/DeviceList/DeviceList" style="font-style:oblique;">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.RoleMatrix : "Device List" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/User/Index">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UserPrivilege : "User Privilege" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/EmployeeGroupPolicy/EmployeeGroupPolicy">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeGroupPolicy: "Employee Group Policy" )</a>
                                </li>
                            </ul>
                        </li>
                        @*Device Management*@

                        @*Reports*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Reports : "Reports" )

                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">6</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/MasterReports/MasterReports">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MasterReports : "Master Reports" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/TAMReports/TAMReports" style="font-style:oblique;">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DailyReports : "Daily Reports" )</a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" href="/AuditLogReports/AuditLogReports" style="font-style:oblique;">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MonthlyReports : "Monthly Reports" )</a>
                                </li>
                            </ul>
                        </li>
                        @*Reports*@


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>


            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; Time Watch Pvt.Ltd.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.1
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="~/Custom_Script/plugins/jquery/jquery.min.js"></script>*@
    <!-- jQuery UI 1.11.4 -->
    @*<script src="~/Custom_Script/plugins/jquery-ui/jquery-ui.min.js"></script>*@
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>*@
    <!-- Bootstrap 4 -->
    @*<script src="~/Custom_Script/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <!-- ChartJS -->
    @*<script src="~/Custom_Script/plugins/chart.js/Chart.min.js"></script>*@
    <!-- Sparkline -->
    @*<script src="~/Custom_Script/plugins/sparklines/sparkline.js"></script>*@
    <!-- JQVMap -->
    @*<script src="~/Custom_Script/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/Custom_Script/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <!-- jQuery Knob Chart -->
    @*<script src="plugins/jquery-knob/jquery.knob.min.js"></script>*@
    <!-- daterangepicker -->
    @*<script src="~/Custom_Script/plugins/moment/moment.min.js"></script>
        <script src="~/Custom_Script/plugins/daterangepicker/daterangepicker.js"></script>*@
    <!-- Tempusdominus Bootstrap 4 -->
    @* <script src="~/Custom_Script/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>*@
    <!-- Summernote -->
    @* <script src="~/Custom_Script/plugins/summernote/summernote-bs4.min.js"></script>*@
    <!-- overlayScrollbars -->
    @*<script src="~/Custom_Script/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>*@
    <!-- AdminLTE App -->
    @*<script src="~/Custom_Script/dist/js/adminlte.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @* <script src="~/Custom_Script/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    @* <script src="~/Custom_Script/dist/js/demo.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqtable")
    @Scripts.Render("~/bundles/multiselect")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)
</body>
</html>
