﻿
@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        /*.btn-file {
                    position: relative;
                    overflow: hidden;
                }

                    .btn-file input[type=file] {
                        position: absolute;
                        top: 0;
                        right: 0;
                        min-width: 100%;
                        min-height: 100%;
                        font-size: 100px;
                        text-align: right;
                        filter: alpha(opacity=0);
                        opacity: 0;
                        outline: none;
                        background: white;
                        cursor: inherit;
                        display: block;
                    }
        */
        #img-upload-photo {
            width: 100%;
        }

        #img-upload-sign {
            width: 100%;
        }
    </style>

    <!--<link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>-->
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <!--<link href="~/Content/themes/base/accordion.css" rel="stylesheet" />-->
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/Employee.js")

    @*<script src="~/Custom_Script/dist/js/Validation.js"></script>*@

    @section MyScripts {
        <script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });

            $(function () {
                $("#accordion").accordion();
            });

            $(document).ready(function () {
                //$("#btnAdd").click(function () {
                //    $('#myModal').modal('show');
                //});
            });
        </script>
    }

    @*<script>
        function AAdharvalidation() {

            var regexp = /^[2-9]{1}[0-9]{3}\s{1}[0-9]{4}\s{1}[0-9]{4}$/;

            var x = document.getElementById("txtAadhar").value;
            if (regexp.test(x)) {
                window.alert("Good Luck, Your Valid Aadhar no.");
            }
            else {
                window.alert("Sorry, Invalid Aadhar no.");
            }
    </script>*@

    <script type="text/javascript">
        $(function () {
            $("#txtDateOfBirth").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getYear());
                    $("#txtDateOfJoin").datepicker("option", "minDate", dt);
                }
            });
            $("#txtDateOfJoin").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getYear() - 365*18);
                    $("#txtDateOfBirth").datepicker("option", "maxDate", dt);
                }
            });
            //$(document).ready(function () {
            //    $('#txtDateofBirth').datepicker({
            //        changeMonth: true,
            //        changeYear: true,
            //        dateFormat: "dd-mm-yy",
            //        yearRange: "-100:+10"
            //    });
            //});
        });
        //function validate(date) {
        //    var eighteenYearsAgo = moment().subtract(18, "years");
        //    var birthday = moment(date);

        //    if (!birthday.isValid()) {
        //        return "invalid date";
        //    }
        //    else if (eighteenYearsAgo.isAfter(birthday)) {
        //        return "okay, you're good";
        //    }
        //    else {
        //        return "sorry, no";
        //    }
        //}
        function DobDojchecker() {

            var DOB = document.getElementById("txtDateOfBirth").value;

            var DOJ = document.getElementById("txtDateOfJoin").value;

            var age = DOJ - DOB;

            if (age < 18) {

                alert('min is more than max');
            }
        }
    </script>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    <div class="container-fluid">
        <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeMaster : "Employee Master")</h2>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-info">
                    @*<i class="nav-icon fas fa-copy"></i>*@
                    <div class="card-header">
                        <h3 class="card-title">Office Details</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"> Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body card border-info accent-dark">
                        <div class="row">
                            @*<div class="panel panel-primary">
        <div class="panel-heading">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.OfficeDetails : "Office Details")</a></div>
        <div class="panel-body">*@

                            @*<div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-body">*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="IsActive">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Active : "Active")*</label>
                                    <select class="form-control" id="ddlIsActive" name="IsActive" onchange="LeavingDateShowHide()">
                                        <option value="Y">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.True : "True")</option>
                                        <option value="N">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.False : "False")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="EmployeeCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeCode : "Employee Code")<span class="required">*</span>   <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtEmployeeCode" onchange="EmployeeCodeCheck(this.value)" maxlength=10 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeCode : "Employee Code")" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BiometricID">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentCardNumber : "Card Number")<span class="required">*</span>   <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtBiometricID" maxlength=8 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentCardNumber : "Card Number" )" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Employee Name">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeName : "Employee Name")<span class="required">*</span>  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtEmployeeName" maxlength=20 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeName : "Employee Name")" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Guardian Name">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GuardianName : "Guardian Name")  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtGuardianName" maxlength=30 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GuardianName : "Guardian Name")" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Company">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "Company")<span class="required">*</span> </label>
                                    @*<select class="form-control" id="ddlCompany1" name="Company"></select>*@
                                    <select class="form-control" id="ddlCompany" name="JobCompany">
                                        @*<option value="">--Company --</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Department">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Department : "Department")<span class="required">*</span> </label>
                                    @*<select class="form-control" id="ddlDepartment" name="Department"></select>*@
                                    <select class="form-control" id="ddlDepartment" name="Department">
                                        @*<option value="">--Department --</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Category">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Category : "Category")<span class="required">*</span> </label>
                                    @*<select class="form-control" id="ddlCategory" name="Category"></select>*@
                                    <select class="form-control" id="ddlCategory" name="Category">
                                        @*<option value="">-- Category --</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Section">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Location : "Location")<span class="required">*</span> </label>
                                    @*<select class="form-control" id="ddlSection" name="Section"></select>*@
                                    <select class="form-control" id="ddlLocation" name="Location">
                                        @*<option value="">-- Location --</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="EmployeeGroup">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeGroup : "Employee Group")<span class="required">*</span> </label>
                                    @*<select class="form-control" id="ddlEmployeeGroup" name="EmployeeGroup"></select>*@
                                    <select class="form-control" id="ddlEmployeeGroup" name="EmployeeGroup">
                                        @*<option value="">-- Employee Group --</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Designation">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Designation : "Designation")<span class="required">*</span> </label>
                                    <select class="form-control" id="ddlDesignation" name="Designation">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="HOD">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManager : "Reporting Manager")</label>
                                    <select class="form-control" id="ddlHOD" name="HOD">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SubContractor">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManager : "Sub Contractor")<span class="required">*</span> </label>
                                    <select class="form-control" id="ddlGrade" name="Grade">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblLeavingDate" for="LeavingDate">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeavingDate : "Employee Name")<span class="required">*</span> </label>
                                    <input type="text" class="form-control datepicker" id="txtLeavingDate" placeholder="DD/MM/YYYY" maxlength="10" />
                                    @*<input type="text" id="txtDateOfJoin" class="form-control datepicker" placeholder="DD/MM/YYYY" onchange="DobDojchecker()" />*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblLeavingReason" for="LeavingReason">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.LeavingReason : "Leaving Reason")</label>
                                    <input type="text" class="form-control" id="txtLeavingReason" maxlength=35 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GuardianName : "Leaving Reason")"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Upload Document OR Photo</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"> Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="card-header">
                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UploadEmployeePhoto : "Upload Employee Photo") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="250X250px and less then 250MB"></span></label>`
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Browse : "Browse...")<input type="file" id="imgInp">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload-photo' style="border-radius: 50%; height:250px; background-image: url('../../Custom_Script/dist/img/default-photo.jpg');" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">                                    
                                    <div class="card-header">
                                        <label>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.UploadEmployeeSignature : "Upload Employee signature") <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="250X250px and less then 250MB"></span></label>`
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Browse : "Browse...")<input type="file" id="imgSign">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload-sign' style=" margin-top: 20px; height: 250px; background-image: url('../../Custom_Script/dist/img/default-250x250.png');" />
                                    </div>                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Personal Details</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"> Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DateOfJoin">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DateOfJoin : "Date Of Join")<span class="required">*</span>  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Date format DD/MM/YYYY"></span></label>
                                    <input type="text" id="txtDateOfJoin" class="form-control datepicker" placeholder="DD/MM/YYYY" onchange="DobDojchecker()" />
                                </div>
                                <!--<div class="md-form">-->
                                    @*<input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">*@
                                    <!--<input type="text" id="txtFromDate" placeholder="DD/MM/YYYY" class="form-control datepicker" />
                                </div>-->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DateOfBirth">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DateOfBirth : "Date Of Birth")<span class="required">*</span>  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Date format DD/MM/YYYY"></span></label>
                                    <input type="text" contenteditable="false" class="form-control" id="txtDateOfBirth" placeholder="DD/MM/YYYY" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Married">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Married : "Married" )</label>
                                    <select class="form-control" id="ddlMarried" name="Married">
                                        <option value="Y">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Yes : "Yes" )</option>
                                        <option value="N">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.No : "No" )</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Gender">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Gender : "Gender" )<span class="required">*</span> </label>
                                    <select class="form-control" id="ddlGender" name="Gender">
                                        <option value="M">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Male : "Male" )</option>
                                        <option value="F">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Female : "Female" )</option>
                                        <option value="O">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Others : "Others" )</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Email">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Email : "Email" ) <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Email should be in abc@xyz.com format"></span></label>
                                    <input type="text" class="form-control" id="txtEmail" onchange="isValidEmailAddress(this.value)" maxlength=50 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Email : "Email" )"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BloodGroup">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.BloodGroup : "Blood Group" )</label>
                                    <select class="form-control" id="ddlBloodGroup" name="BloodGroup">
                                        <option value="A+">A RhD positive (A+)</option>
                                        <option value="A-">A RhD negative (A-)</option>
                                        <option value="B+">B RhD positive (B+)</option>
                                        <option value="B-">B RhD negative (B-)</option>
                                        <option value="O+">O RhD positive (O+)</option>
                                        <option value="O-">O RhD negative (O-)</option>
                                        <option value="AB+">AB RhD positive (AB+)</option>
                                        <option value="AB-">AB RhD negative (AB-)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Qualification">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Qualification : "Qualification" )  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/a-z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtQualification" maxlength=20 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Qualification : "Qualification" )"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Experience">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Experience : "Experience" ) <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Numeric (Experience should be in Year)"></span></label>
                                    <input type="text" class="form-control" id="txtExperience" maxlength=20 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Experience : "Experience" )"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Bank">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Bank : "Bank" )</label>
                                    @*<select class="form-control" id="ddlBank" name="Bank"></select>*@
                                    <select class="form-control" id="ddlBank" name="Bank">
                                        <option value="">-- Bank --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="AccountNo">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AccountNumber : "Account No" )  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Numeric (0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtAccountNo" maxlength=25 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AccountNumber : "Account No" )"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="UID">UID  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Numeric (0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtUID" maxlength=12 placeholder="UID"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PANNo">PAN No  <span _ngcontent-aqs-c99 class="fare-icon fa fa-info-circle fa-sm" data-toggle="tooltip" data-placement="top" title="Only Alphanumeric (A-Z/0-9)"></span></label>
                                    <input type="text" class="form-control" id="txtPANNo" maxlength=10 onchange="isValidPANNo(this.value)" placeholder="PAN No"  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Contact Details</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"> Minimize/Maximize</i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-black bg-gray"><h4>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PermanentAddress : "Permanent Address" )</h4></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Address">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Address : "Address" )</label>
                                        <textarea class="form-control" id="txtAddress1" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Address : "Address" )" ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PINCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PostalCode : "Postal Code" )</label>
                                        <input type="text" class="form-control" id="txtPINCode1" maxlength=6 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PostalCode : "Postal Code" )"  />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="MobileNo">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MobileNumber : "Mobile No" )</label>
                                        <input type="text" class="form-control" id="txtMobileNo1" maxlength=10 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MobileNumber : "Mobile No" )"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-black bg-gray"><h4>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.TemporaryAddress : "Temporary Address" )</h4></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tAddress">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Address : "Address" )</label>
                                        <textarea class="form-control" id="txtTAddress2" maxlength=100 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Address : "Address" )" ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PINCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PostalCode : "Postal Code" )</label>
                                        <input type="text" class="form-control" id="txtTPINCode2" maxlength=6 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PostalCode : "Postal Code" )"  />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="MobileNo">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MobileNumber : "Mobile No" )</label>
                                        <input type="text" class="form-control" id="txtTMobileNo2" maxlength=10 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.MobileNumber : "Mobile No" )"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="panel panel-primary">
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit" )</button>
            <button type="button" class="btn btn-success" id="btnupdate" onclick="return Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit" )</button>
            @*<button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">Cancel</button>*@
            <a class="btn btn-primary" href="@Url.Action("Employee","Employee")">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel" )</a>
        </div>
    </div>

</body>
</html>
