﻿
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

    @Scripts.Render("~/MyCustomScript/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/mycustomscript/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/EmployeeList.js")
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/AuditLogReports.js")*@
    @*@Scripts.Render("~/MyCustomScript/dist/js/jobdescription.js")*@
    @section MyScripts {
        <script type="text/javascript">

            $(function () {
                $("#tabs").tabs();
            });

            $(function () {
                $("#accordion").accordion();
            });

            $(document).ready(function () {
                //$("#btnAdd").click(function () {
                //    $('#myModal').modal('show');
                //});
            });
        </script>
    }

    @*======== Date Range ============*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
                type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
              rel="Stylesheet" type="text/css" />*@
    <script type="text/javascript">
        $(function () {
            $("#txtFrom").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#txtTo").datepicker("option", "minDate", dt);
                }
            });
            $("#txtTo").datepicker({
                dateFormat: 'dd/mm/yy',
                numberOfMonths: 2,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#txtFrom").datepicker("option", "maxDate", dt);
                }
            });
        });
    </script>

    @*======== Date Range ============*@
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }

    @*<div class="container">
            @if (Session["LangType"].ToString() == "A")
            {
                <h2>@IntegratedAttendanceSystem.Resources.Language.EmployeeMaster</h2>
            }
            else
            {
                <h2 class="page-header">Employee Master</h2>
            }
        </div>*@

    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeMaster : "Employee Master" )</h2>

    @*<button type="button" class="btn btn-primary" id="btnAdd" href="@Url.Action("EmployeeMasterEdit","EmployeeMaster")">Add New</button><br /><br />*@
    @*<a class="btn btn-primary" id="btnAdd">Add New</a>*@
    @*<input type="button" class="btn btn-primary" id="btnAdd" value="Add New" onclick="location.href='@Url.Action("EmployeeMasterEdit", "EmployeeMaster")'" />*@
    
    @if (Session["LangType"].ToString() == "A")
    {
        @*<b>@IntegratedAttendanceSystem.Resources.Language.EmployeeMaster</b>*@
        <input type="button" class="btn btn-primary" id="btnAdd" value="@IntegratedAttendanceSystem.Resources.Language.EmployeeMaster" onclick="location.href='@Url.Action("CreateEmployee", "Employee")'" />
    }
    else
    {
        <input type="button" class="btn btn-primary" id="btnAdd" value="Add New" onclick="location.href='@Url.Action("CreateEmployee", "Employee")'" />
    }

    <table class="table table-bordered table-hover table-striped display nowrap" id="tblEmployee" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            @IntegratedAttendanceSystem.Resources.Language.Edit
                        }
                        else
                        {
                            <b class="page-header">EDIT</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "EDIT" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            @IntegratedAttendanceSystem.Resources.Language.Delete
                        }
                        else
                        {
                            <b class="page-header">DELETE</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "DELETE" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            @IntegratedAttendanceSystem.Resources.Language.Active
                        }
                        else
                        {
                            <b class="page-header">ACTIVE</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Active : "ACTIVE" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            @IntegratedAttendanceSystem.Resources.Language.EmployeeCode
                        }
                        else
                        {
                            <b class="page-header">PAYCODE</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeCode : "PAYCODE" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.EmployeeName</b>
                        }
                        else
                        {
                            <b class="page-header">EMPLOYEE NAME</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeName : "EMPLOYEE NAME" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.GuardianName</b>
                        }
                        else
                        {
                            <b class="page-header">GUARDIAN NAME</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.GuardianName : "GUARDIAN NAME" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.DateOfBirth</b>
                        }
                        else
                        {
                            <b class="page-header">DATE OF BIRTH</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DateOfBirth : "DATE OF BIRTH" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.DateOfJoin</b>
                        }
                        else
                        {
                            <b class="page-header">DATE OF JOIN</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.DateOfJoin : "DATE OF JOIN" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.PresentCardNumber</b>
                        }
                        else
                        {
                            <b class="page-header">PRESENT CARD NO</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.PresentCardNumber : "PRESENT CARD NO" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Company</b>
                        }
                        else
                        {
                            <b class="page-header">COMPANY</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Company : "COMPANY" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Division</b>
                        }
                        else
                        {
                            <b class="page-header">DIVISION</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Division : "DIVISION" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Category</b>
                        }
                        else
                        {
                            <b class="page-header">CATEGORY</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Category : "CATEGORY" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Department</b>
                        }
                        else
                        {
                            <b class="page-header">DEPARTMENT</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Department : "DEPARTMENT" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Grade</b>
                        }
                        else
                        {
                            <b class="page-header">GRADE</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Grade : "GRADE" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Sex</b>
                        }
                        else
                        {
                            <b class="page-header">SEX</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Sex : "SEX" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Married</b>
                        }
                        else
                        {
                            <b class="page-header">MARRIED</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Married : "MARRIED" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Designation</b>
                        }
                        else
                        {
                            <b class="page-header">DESIGNATION</b>
                        }*@
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Designation : "DESIGNATION" )
                </th>
                <th>
                    @*@if (Session["LangType"].ToString() == "A")
                        {
                            <b>@IntegratedAttendanceSystem.Resources.Language.Designation</b>
                        }
                        else
                        {
                            <b class="page-header">DESIGNATION</b>
                        }*@
                    <b class="page-header">SSN</b>
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <div class="container">
        @*<div class="col-md-6">
                <div class="form-group">
                    <label for="Company">Company*</label>
                    <select class="form-control" id="ddlCompany1" name="Company"></select>
                </div>
            </div>*@
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Skills</button><br /><br />*@
        @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
        <!--<table class="table table-bordered" id="tblreport" style="width:100%">
        <tbody>
            <tr>
                <td style="width:100%;">-->
        @*<label><input id="1" type="radio" name="optradio" checked> Job Request by HOD</label>*@
        <!--<div id="example" style="text-align: center; align-items:flex-end">

        </div>-->
        @*<label><input id="2" type="radio" name="optradio"> Age Group Master</label>*@
        <!--</td>
                </tr>
            </tbody>
        </table>-->
    </div>
</body>
</html>

