﻿@model IntegratedAttendanceSystem.Models.HODModel
@{
    ViewBag.Title = "HOD Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>HOD</title>*@
    @Scripts.Render("~/Custom_Script/plugins/jquery/jquery.min.js")
    @Scripts.Render("~/Custom_Script/plugins/datatables/jquery.datatables.min.js")
    @Scripts.Render("~/Custom_Script/dist/js/HOD.js")
    <script src="~/Custom_Script/dist/js/Validation.js"></script>
    @section MyScripts {
        <script type="text/javascript">
            $(document).ready(function () {
            });
        </script>

    }
    <link href="~/Custom_Script/dist/css/Select2Search.css" rel="stylesheet" />
    <script src="~/Custom_Script/dist/js/Select2Search.js"></script>

    <link href="~/Content/multiselectcss.css" rel="stylesheet" />
    <style type="text/css">
        .multiselect-container li a {
            background: white;
            font-size: small;
            font-weight: 200;
            line-height: 1.5;
            color: #495057;
        }
    </style>
    @*<script>
        $("#dllEmployeeCode").change(function () {
            BindEmployeeDetails();
        });
    </script>*@
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Error occured contact to Administrator");
            };
        </script>
    }
    <div class="container">

    </div>
    <h2>@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerDetails : "Reporting Manager Details")</h2>
    @*<button type="button" class="btn btn-primary" id="btnAdd">Add New</button><br /><br />*@
    <button type="button" class="btn btn-primary" id="btnAddNew1">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.AddNew : "Add New")</button><br /><br />
    <table class="table table-bordered table-hover table-striped display nowrap" id="tblHOD" style="width:100%">
        <thead>
            <tr>
                <th id="tblThEdit">
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Edit : "Edit")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Delete : "Delete")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Code")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerName: "Reporting Manager Name")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeCode : "Employee Code")
                </th>
                <th>
                    @((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerMail: "Reporting Manager Mail")
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
    <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerDetails : "Reporting Manager Details")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose" onclick="cancel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @*<div class="form-group">
                                <label for="IsActive">Status*</label>
                                <select class="form-control" id="ddlIsActive" name="IsActive">
                                    <option value="Y">Active</option>
                                    <option value="N">InActive</option>
                                </select>
                            </div>*@
                        <div class="form-group" id="divcode">
                            <label for="HODCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Code")*</label>
                            <input type="text" class="form-control" id="txtHODCode" maxlength=5 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Code")" onchange="return HODCodeCheck(this.value)" />
                        </div>
                        <div class="form-group">
                            <label for="HODName">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Name")*</label>
                            <input type="text" class="form-control" id="txtHODName" maxlength=4 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Name")" onkeypress='return QoutesValidation(event)' />
                        </div>
                        <div class="form-group">
                            <label for="dllEmployeeCode">Employee Code</label>
                            <select class="myselect" style="width: 100%;" id="dllEmployeeCode"></select>
                        </div>
                        <!--<div class="form-group">
                            <label for="Paycode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.EmployeeCode : "Employee Code")*</label>
                            <select id="ddlPaycode" class="form-control">
                                <option>0000001</option>
                                <option>0000002</option>
                                <option>0000003</option>
                                <option>0000004</option>
                                <option>0000005</option>
                                <option>0000006</option>
                            </select>-->
                        @*<input type="text" class="form-control" id="txtPaycode" maxlength=100 placeholder="Name" onkeypress='return QoutesValidation(event)' />*@
                        <!--</div>-->
                        <div class="form-group" id="divcode">
                            <label for="HODCode">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Mail")*</label>
                            <input type="text" class="form-control" id="txtHODEmail" maxlength=50 placeholder="@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.ReportingManagerCode : "Reporting Manager Mail")" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" id="btnAddNew" onclick="return Add();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Submit : "Submit")</button>
                    <button type="button" class="btn btn-primary" id="btnCancel" data-dismiss="modal" onclick="cancel();">@((Session["LangType"].ToString() == "A") ? @IntegratedAttendanceSystem.Resources.Language.Cancel : "Cancel")</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script type="text/javascript">
        $(".myselect").select2().on('change', function (e) {
            //BindEmployeeCodeList();
            //var str = $("#s2id_search_code .select2-choice span").text();
            //alert(this.value);
            //this.value
        });
    </script>
</body>
</html>
